In [129]:
# Import Dependencies:
import pandas as pd
import os
import numpy as np
from sqlalchemy import create_engine
from config import password
from config import username

In [130]:
# For Table 1
Prescription_VA = os.path.join("Resources", "Opioid_Pres_VA.csv")
# For Table 2
Prescription_Retail = os.path.join("Resources", "Opioid_Retail.csv")

In [131]:
# Reading in data file to store into Pandas DataFrame:
# For Table 1
Prescription_VA_df = pd.read_csv("Resources/Opioid_Pres_VA.csv")
Prescription_VA_df.head()

,id,Percent Change,Percent Change (integer),city,facility_name,latitude,longitude,2012 Prescribing Rate,2012 Prescribing Rate (integer),2018 Prescribing Rate,2018 Prescribing Rate (integer),point,Non-VA Prescribing Rate (Regional Use),state_full,state_postal
0,77,0.442374,-44,Albuquerque,Raymond G. Murphy VA Medical Center,35.055193,-106.577684,0.234439,23,0.130729,13,POINT (-106.577684 35.055193),Average,New Mexico,NM
1,8,0.608077,-61,Fayetteville,Fayetteville VA Medical Center,36.077229,-94.157046,0.223217,22,0.087484,9,POINT (-94.157046 36.077229),Average,Arkansas,AR
2,45,0.504930,-50,Wichita,Robert J. Dole VA Medical Center,37.679798,-97.273500,0.198012,20,0.098030,10,POINT (-97.2735 37.679798),Average,Kansas,KS
3,146,0.401380,-40,Sheridan,Sheridan VA Medical Center,44.826970,-106.984884,0.139492,14,0.083503,8,POINT (-106.984884 44.82697),Average,Wyoming,WY
4,58,0.493521,-49,Detroit,John D. Dingell VA Medical Center,42.355141,-83.060341,0.257321,26,0.130328,13,POINT (-83.060341 42.355141),High,Michigan,MI

In [132]:
# Reading in data file to store into Pandas DataFrame:
# For Table 2
Prescription_Retail_df = pd.read_csv("Resources/Opioid_Retail .csv")
Prescription_Retail_df.head()

,Quarter,Hydrocodone,Oxycodone,Tramadol,Morphine,Fentanyl,H+O+T+M+F,All Opioid Analgesics,ER/LA Opioid Analgesics,Yearly totals (All Opioid Analgesics),Yearly totals (ER/LA Opioid Analgesics),Yearly totals (H+O+T+M+F),Yearly totals (H+O)
0,Q4 2009,30831801,12598334,6475986,1731324,1266443,52903888,62804834,4808919,No data,No data,No data,No data
1,Q1 2010,30692922,12676513,6429833,1727199,1240702,52767169,62407792,4727239,257068897,19475051,219737013,180019528
2,Q2 2010,31554204,13282829,6694127,1792189,1274043,54597392,64359386,4886616,257068897,19475051,219737013,180019528
3,Q3 2010,32000678,13748219,6811394,1833943,1283203,55677437,65385955,4960528,257068897,19475051,219737013,180019528
4,Q4 2010,32239057,13825106,7453897,1889202,1287753,56695015,64915764,4900668,257068897,19475051,219737013,180019528

In [133]:
#Table 1
Prescription_VA_df['Percent Change'] = Prescription_VA_df['Percent Change'].astype(str)
Prescription_VA_df

,id,Percent Change,Percent Change (integer),city,facility_name,latitude,longitude,2012 Prescribing Rate,2012 Prescribing Rate (integer),2018 Prescribing Rate,2018 Prescribing Rate (integer),point,Non-VA Prescribing Rate (Regional Use),state_full,state_postal
0,77,0.4423736,-44,Albuquerque,Raymond G. Murphy VA Medical Center,35.055193,-106.577684,0.234439,23,0.130729,13,POINT (-106.577684 35.055193),Average,New Mexico,NM
1,8,0.6080770999999999,-61,Fayetteville,Fayetteville VA Medical Center,36.077229,-94.157046,0.223217,22,0.087484,9,POINT (-94.157046 36.077229),Average,Arkansas,AR
2,45,0.50493,-50,Wichita,Robert J. Dole VA Medical Center,37.679798,-97.273500,0.198012,20,0.098030,10,POINT (-97.2735 37.679798),Average,Kansas,KS
3,146,0.4013797,-40,Sheridan,Sheridan VA Medical Center,44.826970,-106.984884,0.139492,14,0.083503,8,POINT (-106.984884 44.82697),Average,Wyoming,WY
4,58,0.4935213,-49,Detroit,John D. Dingell VA Medical Center,42.355141,-83.060341,0.257321,26,0.130328,13,POINT (-83.060341 42.355141),High,Michigan,MI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,56,0.46444650000000004,-46,Ann Arbor,Ann Arbor VA Medical Center,42.287285,-83.712300,0.196718,20,0.105353,11,POINT (-83.7123 42.287285),High,Michigan,MI
142,35,0.24383249999999998,-24,Danville,Danville VA Medical Center,40.131790,-87.592277,0.132022,13,0.099831,10,POINT (-87.592277 40.13179),Low,Illinois,IL
143,24,0.3283283,-33,Miami,Bruce W. Carter VA Medical Center,25.790438,-80.216172,0.089850,9,0.060350,6,POINT (-80.216172 25.790438000000005),Low,Florida,FL
144,63,0.5688236,-57,Biloxi,Biloxi VA Medical Center,30.409011,-88.947210,0.222566,22,0.095965,10,POINT (-88.94721 30.409011),High,Mississippi,MS
145,46,0.37308209999999997,-37,Lexington,Lexington VA Medical Center,38.074846,-84.537606,0.209130,21,0.131107,13,POINT (-84.537606 38.074846),Average,Kentucky,KY

In [134]:
#Table 2
Prescription_Retail_df['Quarter'] = Prescription_Retail_df['Quarter'].astype(str)
Prescription_Retail_df

,Quarter,Hydrocodone,Oxycodone,Tramadol,Morphine,Fentanyl,H+O+T+M+F,All Opioid Analgesics,ER/LA Opioid Analgesics,Yearly totals (All Opioid Analgesics),Yearly totals (ER/LA Opioid Analgesics),Yearly totals (H+O+T+M+F),Yearly totals (H+O)
0,Q4 2009,30831801,12598334,6475986,1731324,1266443,52903888,62804834,4808919,No data,No data,No data,No data
1,Q1 2010,30692922,12676513,6429833,1727199,1240702,52767169,62407792,4727239,257068897,19475051,219737013,180019528
2,Q2 2010,31554204,13282829,6694127,1792189,1274043,54597392,64359386,4886616,257068897,19475051,219737013,180019528
3,Q3 2010,32000678,13748219,6811394,1833943,1283203,55677437,65385955,4960528,257068897,19475051,219737013,180019528
4,Q4 2010,32239057,13825106,7453897,1889202,1287753,56695015,64915764,4900668,257068897,19475051,219737013,180019528
5,Q1 2011,32497676,13697064,7934498,1904519,1271533,57305290,63667268,4750490,257951912,19185542,232696789,186746413
6,Q2 2011,32906191,13972641,8194032,1932387,1290096,58295347,64655990,4778769,257951912,19185542,232696789,186746413
7,Q3 2011,32970249,14129677,8461645,1959390,1296659,58817620,65093125,4804171,257951912,19185542,232696789,186746413
8,Q4 2011,32557588,14015327,8426827,1985884,1292906,58278532,64535529,4852112,257951912,19185542,232696789,186746413
9,Q1 2012,32821380,13676982,9085356,1967390,1256587,58807695,64992656,4674487,260533461,18831184,229781947,176758015
10,Q2 2012,32883231,13799118,9373129,2014571,1270489,59340538,65346051,4702975,260533461,18831184,229781947,176758015
11,Q3 2012,32621466,13714150,9556588,2021396,1267369,59180969,65030875,4689927,260533461,18831184,229781947,176758015
12,Q4 2012,32429704,13810577,9753897,2058168,1273738,59326084,65163879,4763795,260533461,18831184,229781947,176758015
13,Q1 2013,30848355,13134306,9488158,2005937,1233775,56710531,62344354,4593200,251834425,18694465,229781947,176758015
14,Q2 2013,31097912,13251033,9913793,2032962,1260428,57556128,63108593,4660126,251834425,18694465,229781947,176758015
15,Q3 2013,31081430,13310718,10096891,2060817,1267488,57817344,63279780,4708521,251834425,18694465,229781947,176758015
16,Q4 2013,30629191,13405070,10327890,2073818,1261975,57697944,63101698,4732618,251834425,18694465,229781947,176758015
17,Q1 2014,29299051,12965080,10156105,2010032,1215947,55646215,60833351,4559309,244543199,18772635,222457156,167476128
18,Q2 2014,29932633,13362307,10725262,2069597,1249482,57339281,62555737,4689143,244543199,18772635,222457156,167476128
19,Q3 2014,30088966,13641359,10396635,2089791,1256113,57472864,62699948,4732605,244543199,18772635,222457156,167476128
20,Q4 2014,24111897,14074835,10435370,2115022,1261672,51998796,58454163,4791578,244543199,18772635,222457156,167476128
21,Q1 2015,22881381,13595329,9954737,2041447,1202643,49675537,55852248,4568297,No data,No data,No data,No data
22,Q2 2015,23384486,14066532,10182119,2091995,1232571,50957703,57274927,4660385,No data,No data,No data,No data

In [135]:
# Cleaning dataset and dropping any bad records for Table #1:
cleaned_Prescription_VA_df = Prescription_VA_df.dropna(how='any')
cleaned_Prescription_VA_df.head()

,id,Percent Change,Percent Change (integer),city,facility_name,latitude,longitude,2012 Prescribing Rate,2012 Prescribing Rate (integer),2018 Prescribing Rate,2018 Prescribing Rate (integer),point,Non-VA Prescribing Rate (Regional Use),state_full,state_postal
0,77,0.4423736,-44,Albuquerque,Raymond G. Murphy VA Medical Center,35.055193,-106.577684,0.234439,23,0.130729,13,POINT (-106.577684 35.055193),Average,New Mexico,NM
1,8,0.6080770999999999,-61,Fayetteville,Fayetteville VA Medical Center,36.077229,-94.157046,0.223217,22,0.087484,9,POINT (-94.157046 36.077229),Average,Arkansas,AR
2,45,0.50493,-50,Wichita,Robert J. Dole VA Medical Center,37.679798,-97.273500,0.198012,20,0.098030,10,POINT (-97.2735 37.679798),Average,Kansas,KS
3,146,0.4013797,-40,Sheridan,Sheridan VA Medical Center,44.826970,-106.984884,0.139492,14,0.083503,8,POINT (-106.984884 44.82697),Average,Wyoming,WY
4,58,0.4935213,-49,Detroit,John D. Dingell VA Medical Center,42.355141,-83.060341,0.257321,26,0.130328,13,POINT (-83.060341 42.355141),High,Michigan,MI

In [136]:
# Cleaning dataset and dropping any bad records for Table #2:
cleaned_Prescription_Retail_df = Prescription_Retail_df.dropna(how='any')
cleaned_Prescription_Retail_df.head()

,Quarter,Hydrocodone,Oxycodone,Tramadol,Morphine,Fentanyl,H+O+T+M+F,All Opioid Analgesics,ER/LA Opioid Analgesics,Yearly totals (All Opioid Analgesics),Yearly totals (ER/LA Opioid Analgesics),Yearly totals (H+O+T+M+F),Yearly totals (H+O)
0,Q4 2009,30831801,12598334,6475986,1731324,1266443,52903888,62804834,4808919,No data,No data,No data,No data
1,Q1 2010,30692922,12676513,6429833,1727199,1240702,52767169,62407792,4727239,257068897,19475051,219737013,180019528
2,Q2 2010,31554204,13282829,6694127,1792189,1274043,54597392,64359386,4886616,257068897,19475051,219737013,180019528
3,Q3 2010,32000678,13748219,6811394,1833943,1283203,55677437,65385955,4960528,257068897,19475051,219737013,180019528
4,Q4 2010,32239057,13825106,7453897,1889202,1287753,56695015,64915764,4900668,257068897,19475051,219737013,180019528

In [137]:
# Filtering dataset by selecting columns needed to answer potential query for Table 1:
Prescription_VA_subset = cleaned_Prescription_VA_df[["Percent Change (integer)", "city", "2012 Prescribing Rate", "2018 Prescribing Rate", "Non-VA Prescribing Rate (Regional Use)", "state_full", "state_postal"]]
Prescription_VA_subset.head()

,Percent Change (integer),city,2012 Prescribing Rate,2018 Prescribing Rate,Non-VA Prescribing Rate (Regional Use),state_full,state_postal
0,-44,Albuquerque,0.234439,0.130729,Average,New Mexico,NM
1,-61,Fayetteville,0.223217,0.087484,Average,Arkansas,AR
2,-50,Wichita,0.198012,0.098030,Average,Kansas,KS
3,-40,Sheridan,0.139492,0.083503,Average,Wyoming,WY
4,-49,Detroit,0.257321,0.130328,High,Michigan,MI

In [138]:
# Filtering dataset by selecting columns needed to answer potential query for Table 2:
Prescription_Retail_subset = cleaned_Prescription_Retail_df[["Quarter", "Hydrocodone", "Oxycodone", "Tramadol", "Morphine", "Fentanyl", "H+O+T+M+F"]]
Prescription_Retail_subset.head()

   Quarter  Hydrocodone  Oxycodone  Tramadol  Morphine  Fentanyl  H+O+T+M+F
0  Q4 2009     30831801   12598334   6475986   1731324   1266443   52903888
1  Q1 2010     30692922   12676513   6429833   1727199   1240702   52767169
2  Q2 2010     31554204   13282829   6694127   1792189   1274043   54597392
3  Q3 2010     32000678   13748219   6811394   1833943   1283203   55677437
4  Q4 2010     32239057   13825106   7453897   1889202   1287753   56695015

In [139]:
# Renaming the subset dataframe columns Table 1:
Prescription_rate_va = Prescription_VA_subset.rename(columns={
    'Percent Change (integer)': 'percent_change',
    '2012 Prescribing Rate': '2012_prescribing_rate',
    '2018 Prescribing Rate':'2018_prescribing_rate',
    'Non-VA Prescribing Rate (Regional Use)': 'non-va_prescribing_rate'
    
})
Prescription_rate_va.head()

,percent_change,city,2012_prescribing_rate,2018_prescribing_rate,non-va_prescribing_rate,state_full,state_postal
0,-44,Albuquerque,0.234439,0.130729,Average,New Mexico,NM
1,-61,Fayetteville,0.223217,0.087484,Average,Arkansas,AR
2,-50,Wichita,0.198012,0.098030,Average,Kansas,KS
3,-40,Sheridan,0.139492,0.083503,Average,Wyoming,WY
4,-49,Detroit,0.257321,0.130328,High,Michigan,MI

In [140]:
# Renaming the subset dataframe columns Table 2:
Prescription_rate_retail = Prescription_Retail_subset.rename(columns={
    'Quarter': 'quarter',
    'Hydrocodone': 'hydrocodone',
    'Oxycodone':'oxycodone',
    'Tramadol':'tramadol',
    'Morphine':'morphine',
    'Fentanyl':'fentanyl',
    'H+O+T+M+F': 'h+o+t+m+f'
    
})
Prescription_rate_retail.head()

   quarter  hydrocodone  oxycodone  tramadol  morphine  fentanyl  h+o+t+m+f
0  Q4 2009     30831801   12598334   6475986   1731324   1266443   52903888
1  Q1 2010     30692922   12676513   6429833   1727199   1240702   52767169
2  Q2 2010     31554204   13282829   6694127   1792189   1274043   54597392
3  Q3 2010     32000678   13748219   6811394   1833943   1283203   55677437
4  Q4 2010     32239057   13825106   7453897   1889202   1287753   56695015

In [141]:
# Checking columns data type to see if we need to change in order to avoid errors in loading step for Table 1
Prescription_rate_va.dtypes

percent_change               int64
city                        object
2012_prescribing_rate      float64
2018_prescribing_rate      float64
non-va_prescribing_rate     object
state_full                  object
state_postal                object
dtype: object

In [142]:
# Checking columns data type to see if we need to change in order to avoid errors in loading step for Table 1
Prescription_rate_retail.dtypes

quarter        object
hydrocodone     int64
oxycodone       int64
tramadol        int64
morphine        int64
fentanyl        int64
h+o+t+m+f       int64
dtype: object

In [143]:
# load data into postgress Table 1
new_Prescription_rate_va = Prescription_rate_va[['percent_change', 'city', '2012_prescribing_rate', '2018_prescribing_rate', 'non-va_prescribing_rate', 'state_full', 'state_postal']].copy()
new_Prescription_rate_va.head()

,percent_change,city,2012_prescribing_rate,2018_prescribing_rate,non-va_prescribing_rate,state_full,state_postal
0,-44,Albuquerque,0.234439,0.130729,Average,New Mexico,NM
1,-61,Fayetteville,0.223217,0.087484,Average,Arkansas,AR
2,-50,Wichita,0.198012,0.098030,Average,Kansas,KS
3,-40,Sheridan,0.139492,0.083503,Average,Wyoming,WY
4,-49,Detroit,0.257321,0.130328,High,Michigan,MI

In [144]:
# load data into postgress Table 2
new_Prescription_rate_retail = Prescription_rate_retail[['quarter', 'hydrocodone', 'oxycodone', 'tramadol','morphine', 'fentanyl', 'h+o+t+m+f']].copy()
new_Prescription_rate_retail.head()

   quarter  hydrocodone  oxycodone  tramadol  morphine  fentanyl  h+o+t+m+f
0  Q4 2009     30831801   12598334   6475986   1731324   1266443   52903888
1  Q1 2010     30692922   12676513   6429833   1727199   1240702   52767169
2  Q2 2010     31554204   13282829   6694127   1792189   1274043   54597392
3  Q3 2010     32000678   13748219   6811394   1833943   1283203   55677437
4  Q4 2010     32239057   13825106   7453897   1889202   1287753   56695015

In [145]:
# Connecting to localhost database Table 1:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Prescription')
connection = engine.connect()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# Reviewing the tables from SQL Database Table 1
engine.table_names()

In [ ]:
# File 1: 
new_overdose_death.to_sql(name='overdose_death', con=engine, if_exists='append', index=False)

In [ ]:
# File 1: 
pd.read_sql_query('select * from overdose_death', con=engine).head()

In [ ]:
# Saving to csv for Table 1: 
#Prescription_rate_va.to_csv('Resources/Prescription_rate_va.csv', index=False)

In [ ]:
# Saving to csv for Table 2: 
#Prescription_rate_retail.to_csv('Resources/Prescription_rate_retail.csv', index=False)

In [ ]:
#Query from Table 1
# what is the average number of death per year and state
# Prescription_rate_va = """
#     SELECT city,
#            Prescription_rate_va per city 
#     FROM Prescription_rate_va
#     WHERE 2012 Prescribing Rate < '20';
# """
# Prescription_rate_va

In [ ]:
# #Query fron Table 2
# #  Highest amount of hydrocodone used
# Prescription_rate_retail = """
#     SELECT hydrocodone,
#            Prescription_rate_retail per hydrocodone 
#     FROM Prescription_rate_retail
#     WHERE hydrocodone > '32000000';
# """
# Prescription_rate_retail